.header {
    padding: 46px 0 56px 0;
    width: 100%;
    position: relative;
}

.burgerIcon {
    display: none;
    width: 40px;
    height: 2px;
    background-color: black;
    position: relative;
}

a:hover {
    opacity: 0.2;
    text-decoration: underline;
}

.header_row {
    display: flex;
    align-items: center;
    justify-content: space-between;
}


.header_logo {
    display: flex;
    align-items: center;
    column-gap: 13px;
}

.header_logo span {
    font-size: 40px;
    font-weight: 900;
    line-height: 1.5;
    letter-spacing: 0.03em;
    color: var(--textColor);
    text-transform: uppercase;
}

.header_nav {
    font-size: 22px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    letter-spacing: 0.01em;
}

.header_nav ul {
    display: flex;
    align-items: center;
    column-gap: 65px;
}

.header_nav a {
    color: var(--textColor);
    width: 100%;
}

.header_nav .header_nav_button {
    padding: 13px 22px;
    background-color: #000;
    color: #fff;
    border-radius: 7px;
}

@media screen and (min-width: 1024px) and (max-width: 1440px) {
    .header_logo span {
        font-size: 20px;
    }

    .header_nav {
        font-size: 18px;
    }
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
    .header_logo span {
        font-size: 20px;
    }

    .header_nav ul {
        font-size: 15px;
        column-gap: 30px;
    }

    .header_nav .header_nav_button {
        padding: 10px 22px;
    }
}


@media screen and (min-width: 481px) and (max-width: 767px) {
    .header_nav {
        display: none;
    }

    .header_nav_open {
        background: #fff;
        position: fixed;
        margin: auto;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        z-index: 5;
        padding: 0 0 0 80px;
        width: 100%;
        overflow: scroll;
        height: 100%;
        box-sizing: border-box;
    }

    .header_nav_open li {
        width: 100%;
    }

    .burgerIcon {
        position: relative;
        display: block;
        width: 40px;
        height: 2px;
        background-color: black;
        align-items: end;
    }

    .burgerIcon::before {
        content: '';
        position: absolute;
        top: 10px;
        width: 40px;
        height: 2px;
        background-color: black;
    }

    .burgerIcon::after {
        content: '';
        position: absolute;
        bottom: 10px;
        width: 40px;
        height: 2px;
        background-color: black;
    }


    .header_nav_open ul {
        padding-top: 50px;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }

    .header_nav_open ul div {
        margin-bottom: 50px;
    }

    .header_nav_open a {
        display: inline-block;
        padding: 40px 0 40px 40px;
        font-size: 30px;
        font-weight: 700;
        width: 100%;
    }


    .header_row {
        padding: 0 30px;
    }

    .header_nav_button {
        display: none;
    }

    .close_modal {
        position: absolute;
        top: 40px;
        right: 20px;
        width: 24px;
        height: 24px;
        opacity: 0.8;
        cursor: pointer;
        transition: opacity ease 0.5s;
    }

    .close_modal::before,
    .close_modal::after {
        content: '';
        position: absolute;
        top: 10px;
        display: block;
        width: 24px;
        height: 3px;
        background: #000;
    }

    .close_modal::before {
        transform: rotate(45deg);
    }

    .close_modal::after {
        transform: rotate(-45deg);
    }

    .header_nav .header_nav_button {
        display: none;
    }

}

@media screen and (min-width: 0px) and (max-width: 480px) {

    .header_nav {
        display: none;
    }

    .header_nav_open {
        background: #fff;
        position: fixed;
        margin: auto;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        z-index: 5;
        padding: 0 0 0 80px;
        width: 100%;
        overflow: scroll;
        height: 100%;
        box-sizing: border-box;
    }


    .burgerIcon {
        position: relative;
        display: block;
        width: 40px;
        height: 2px;
        background-color: black;
        align-items: end;
    }

    .burgerIcon::before {
        content: '';
        position: absolute;
        top: 10px;
        width: 40px;
        height: 2px;
        background-color: black;
    }

    .burgerIcon::after {
        content: '';
        position: absolute;
        bottom: 10px;
        width: 40px;
        height: 2px;
        background-color: black;
    }


    .header_nav_open ul {
        padding-top: 100px;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }

    .header_nav_open ul div {
        margin-bottom: 50px;
    }

    .header_nav_open a {
        width: 100%;
        display: inline-block;
        padding: 30px 0 30px 40px;
        font-size: 25px;
        font-weight: 700;
    }

    .header_nav_open li {
        width: 100%;
    }

    .header_row {
        padding: 0 30px;
    }

    .header_nav_button {
        display: none;
    }

    .close_modal {
        position: absolute;
        top: 40px;
        right: 20px;
        width: 24px;
        height: 24px;
        opacity: 0.8;
        cursor: pointer;
        transition: opacity ease 0.5s;
    }

    .close_modal::before,
    .close_modal::after {
        content: '';
        position: absolute;
        top: 10px;
        display: block;
        width: 24px;
        height: 3px;
        background: #000;
    }

    .close_modal::before {
        transform: rotate(45deg);
    }

    .close_modal::after {
        transform: rotate(-45deg);
    }

    .header_nav .header_nav_button {
        display: none;
    }


}